<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %} | kb-family.com</title>
    {% endblock %}
</head>
<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            &copy; 2022 Kevin Briggs.
        {% endblock %}
    </div>

</body>
</html>