<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=montserrat">
        <title>{% block title %}{% endblock %} | kb-family.com</title>
    {% endblock %}
</head>
<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            &copy; 2022 Kevin Briggs.
        {% endblock %}
    </div>

</body>
</html>