{% extends "base.html" %}

{% block title %}Gallery | kb-family.com{% endblock %}

{# {% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=montserrat">
{% endblock %} #}

{% block content %}
    <h1>Khamsi-Briggs Family Gallery</h1>

    <div class="gallery">
        {% for imagePath in images %}
            <div class="image-wrapper">
                <img src="/{{ imagePath }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}