{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div>
        <h1>Khamsi-Briggs Family Gallery</h1>
        <div>last updated: December 24, 2022</div>
    </div>

    <div class="gallery">
        {% for image in images %}
            <div class="card"">
                <img src="/{{ image.path }}" class="card__thumbnail" id="{{ image.slug }}-thumbnail" loading="lazy">

                <!-- The Modal -->
                <div id="{{ image.slug }}-modal" class="card__modal">
                    <span class="close">&times;</span>
                    <img class="card__modal--image" id="{{ image.slug }}-large">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
        {% for image in images %}
            {% set htmlID = image.slug %}

           <script>
                // Get the modal
                var modal = document.getElementById("{{ htmlID }}-modal");

                // Get the image and insert it inside the modal - use its "alt" text as a caption
                var img = document.getElementById("{{ htmlID }}-thumbnail");
                var modalImg = document.getElementById("{{ htmlID }}-large");
                img.onclick = function() {
                    modal.style.display = "flex";
                    modalImg.src = this.src;
                }

                // Get the <span> element that closes the modal
                modal.getElementsByClassName("close")[0].onclick = function() {
                    modal.style.display = "none";
                }

                // close modal when ESC key pressed
                document.addEventListener('keydown', function(e) {
                    if (e.keyCode === 27) {     // esc
                        modal.style.display= "none";
                    }
                });
                </script>
        {% endfor %}

   {{ parent() }}
   <div id="result"></div>
{% endblock %}